################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PS6/.vs/PS6/v16
/PS6_Kyle&Erdi/.vs/PS6/v16
